Gravity Update non-domain

### Versions
- Pi-hole:  5.16.2
- AdminLTE:  5.19
- FTL:  5.22

### Platform
- OS and version:  Debian 11
- Platform:  Raspberry Pi

### Additional context
After updating my gravity list i spotted some warnings about domains being non-domains, after checking them found one that is `___id___.c.mystat-in.net` from [StevenBlack Hosts]( https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts), but that is a valid domain, when i try to connect to it, it returns bad request page.


Hi, I have the same issue in my pi-hole instance (Pi-hole [v5.16.2] - FTL [v5.22] - Web Interface [v5.19]).

When updating the blocklists pi-hole complains about some non-domains. In my case, the list (https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/fakenews-gambling/hosts) has some urls starting with the dash (for example: -043ns11.net.daraz.com that is a CNAME record for an affex.org disguised tracker).

Might as well page him here.

@stevenblack, we are currently flagging the following domains from your list as non-domains.

```txt
   [i] Imported 204471 domains, ignoring 21 non-domain entries
      Sample of non-domain entries:
                - 0.0.0.0
                - -043ns11.net.daraz.com
                - -16marketing.net.daraz.com
                - -access-logs-active.net.daraz.com
                - -access-logsacc-sandbox.net.daraz.com
                - -access-logsactive.net.daraz.com
                - -azure-freya.net.daraz.com
                - -car2101-echo-tls.net.daraz.com
                - -car213apropmdeizy9vjf.net.daraz.com
                - -chef.net.daraz.com
                - -client.net.daraz.com
                - -cloudapp-car10.net.daraz.com
                - -demo.net.daraz.com
                - -production10537981.net.daraz.com
                - -production20151231-1.net.daraz.com
                - -productionacc.net.daraz.com
                - -tmp.net.daraz.com
                - _.apps.iocnt.de
                - _sips._sctp.net.daraz.com
                - _tcp.academyofconsciousleadership.net
                - ___id___.c.mystat-in.net
```

 We might need to tweak our regex to account for the ones with underscores, they appear to be valid (resolvable) domains - but we're disimissing them. I wonder if it is that they are technically illegal (RFC-wise) but work none-the-less.
 
 `0.0.0.0` obviously expected, no biggy.
 
Some of the others beginning with hyphen don't resolve at all, at least not in windows.:
```txt
C:\temp>ping -car213apropmdeizy9vjf.net.daraz.com
Value must be supplied for option -car213apropmdeizy9vjf.net.daraz.com.

C:\temp>nslookup -car213apropmdeizy9vjf.net.daraz.com
*** Invalid option: car213apropmdeizy9vjf.net.daraz.com
Default Server:  [redacted]
Address:   [redacted]

>
```

Where are you getting these domains from / do you have some sort of validation on your side?

Thanks for this @PromoFaux.  These all come from Adguard-cname.

Issues URL here: https://github.com/AdguardTeam/cname-trackers/issues

I have been considering dropping the Adguard cname list. I think I'll do that now.

@PromoFaux Done! 

In [Release 3.12.22](https://github.com/StevenBlack/hosts/releases/tag/3.12.22), live and online now, those domains are removed.

I hope this helps! Keep doing all the great things you guys do.

Top man, thanks!

We are left with the originally reported entry, but I think that's probably some tweaking to do on our side. I can see that it's a resolvable domain.

```
  [i] Target: https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
  [✓] Status: Retrieval successful
  [i] Imported 170540 domains, ignoring 2 non-domain entries
      Sample of non-domain entries:
        - 0.0.0.0
        - ___id___.c.mystat-in.net
  [i] List has been updated
```

I see that the other ones with `_` chars dissapeared, I suppose they were from the same list. These seem to be valid CNAME's, it seems, e.g:

```
C:\temp>nslookup _.apps.iocnt.de
Server:  [redacted]
Address:  [redacted]

Non-authoritative answer:
Name:    relay-client-c06.iocnt.net
Addresses:  185.102.95.106
          185.201.147.241
          45.12.51.193
Aliases:  _.apps.iocnt.de
```

Some reading here if anyone is interested: https://stackoverflow.com/a/2183140


Adam @PromoFaux the domain `___id___.c.mystat-in.net` comes from the mvps.org list.

That list is presently dormant. Its last update was 2021-03-06.  I have "paused" that list, meaning I don't refresh from this source anymore. Instead a static cached version is combined into my amalgamated lists.  This allows me to make occasional timely edits to this list.

I will remove this domain now.

Steven, do you know of any reliable documentation that we could check over for what should be considered to be a valid and resolvable domain using the public root servers? I've been through some RFCs that try to define what chars and tokens can be in a domain segment but real-life and RFC wishes rarely overlap.

Hi Dan @dschaper! I know of no authoritative documentation on this. There's just old RFC hearsay documents and, meanwhile, the internet charges forth.

In my [`ghosts`](https://github.com/StevenBlack/ghosts) tool, which I use constantly, I use this regex which, at this juncture, is read-only 😆. 

I should run this through a regex de-obfuscator and add that to its code comments.

I last touched this regex three years ago in [this commit](https://github.com/StevenBlack/ghosts/commit/ab6122946a152ce880d12479cf73c0f63d4f3433) which, coincidentally, is about underscore characters.

https://github.com/StevenBlack/ghosts/blob/b18ab28df5b3b57d83995235b34cd28b4b578945/main.go#L126-L128

[RFC2181, Section 11](https://www.rfc-editor.org/rfc/rfc2181#section-11) says that DNS shall allow & support nearly everything, as different applications might prefer different character sets. The only restriction it declares is that each label (separated by `.`) can be up to 63 octets long and the full name can be up to 254 octets long. These octets must not even be UTF-8 compatible (or anything alike), e.g. as from [RFC 1123, 6.1.3.5](https://www.rfc-editor.org/rfc/rfc1123#page-79):

> A name server may acquire […] RRs that the server doesn't know how to convert to printable format. […] [T]his data must be preserved, and hence the implication is that DNS software cannot use textual formats for internal storage.

In theory & in general, the HTTP/SMTP/… web uses hostnames, which limit all labels to `[a-z0-9][a-z0-9-]*` ([RFC 1123, 2.1](https://www.rfc-editor.org/rfc/rfc1123#section-2)). (*In theory* punycode is required due to web servers and alike and not due to name servers not supporting Unicode characters.) But other DNS applications are open to use other chars/bytes, as for example SRV records ([RFC 2782](https://www.rfc-editor.org/rfc/rfc2782)) do, especially to avoid blocking valid hostnames for HTTP/SMTP/…, e.g.: `_xmpp-server._tcp.example.com.`, which Pi-Hole cannot block as of today. And other applications may always opt to lift the restriction for hostnames for their own purpose

As Pi-Hole is mostly used to make networks more secure, I propose to check & verify which chars in labels Pi-Hole (or, more certainly dnsmasq) can currently resolve and so, consequently, should be able to block all of those. Of course this might make problems on importing & storing, so if some chars cannot be blocked by Pi-Hole, but are highly unlikely to be used in practice (e.g. `\0`), it should, consequently, block **all** DNS requests containing them (admins may should be able to disable this if required).

I propose this consequent approach because every entry, which Pi-Hole can resolve, but not block, might pose a threat and IMO it would be fatal, if users/admins think, they protect themselves from "spyware using illegal hostnames to phone home" by importing lists blocking such while Pi-Hole (mostly silently) cannot block but resolve them.

"As Pi-Hole is mostly used to make networks more secure"

Pi-hole is not a security solution. It is a domain blocker most commonly used to block ads. 

@jfb-pihole I tend to disagree with this.

Speaking only for my list, which is a component of Pi-hole, many of our entries are phone-home targets.  We don't remove domains just because they presently lack DNS records because this is exactly how sleepers operate.

But more generally, yes Pi-hole is commonly used to block ads, but that's just a small subset of what Pi-hole does.

> Pi-hole is not a security solution.

Sorry, in retrospective I see my wording here is a little bit off of what Pi-Hole targets to be (I will change my comment above accordingly). I agree there, Pi-Hole is not a fully security solution.

However, it is a good working tool for blocking domains, which *is* also used by admins to increase security in their network (e.g. by blocking malicious domains). There are things, admins need still to be aware that Pi-Hole does not effectively can solve (e.g. clients using DoT/DoH / another DNS / VPN / Tor / …). But I assume it is not that hard to implement the approach I propose (of course assuming someone wants to gift its time to build it that way) and I think Pi-Hole & its users could primarily benefit from that approach.

After internal discussion we agreed to loose the requirements for "valid domains" a bit. We will allow underscores and hyphens in all positions of the (sub)domain (not TLD). While such domains might be not 100% compatible with RFCs, they are used in the wild to serve (ad)content and we decided to allow blocking of such domains. This is implemented with https://github.com/pi-hole/FTL/pull/1563 and will likely be part of the next Pi-hole release.

Fixed with https://github.com/pi-hole/FTL/releases/tag/v5.23