Wrong IPv6 dhcp-range parameters for FTL/dnsmasq

If option `DHCP_IPv6` is true, then Pi-hole adds this [code to `/etc/dnsmasq.d/02-pihole-dhcp.conf`](
https://github.com/pi-hole/pi-hole/blob/4736e03108763cc2d5659f48d8a1e8a64d9b2608/advanced/Scripts/webpage.sh#L429):

```
dhcp-range=::100,::1ff,constructor:${interface},ra-names,slaac,${leasetime}
```

But according to `dnsmasq`'s manpage in [Ubuntu 18.04 LTS (Bionic Beaver)](
https://manpages.ubuntu.com/manpages/bionic/en/man8/dnsmasq.8.html) and [Debian 10 (Buster)](
https://manpages.debian.org/buster/dnsmasq-base/dnsmasq.8.en.html) the value of `${leasetime}` will not set `<lease time>` but `<prefix-len>` instead because `dhcp-range` option of `dnsmasq` looks like that:

```
-F, --dhcp-range=[tag:<tag>[,tag:<tag>],][set:<tag>,]<start-IPv6addr>[,<end-IPv6addr>|constructor:<interface>][,<mode>][,<prefix-len>][,<lease time>]
```

When using Pi-hole (e.g. with [`Docker Pi-hole`](https://github.com/pi-hole/docker-pi-hole/)) without defining environment variable `DHCP_LEASETIME` or defining it with a value less than `64` will result in an error from dnsmasq causing the container to fail with message:
```
dnsmasq: prefix length must be at least 64 at line 16 of /etc/dnsmasq.d/02-pihole-dhcp.conf
```

Pi-hole uses [FTL](https://github.com/pi-hole/FTL), but the relevant code for options parsing (in [`src/dnsmasq/option.c`](https://github.com/pi-hole/FTL/blob/b90ab8b1e78d7aece11c8fee1c3c00817761de52/src/dnsmasq/option.c#L3006)) is taken from [dnsmasq](https://thekelleys.org.uk/dnsmasq/) and thus the above still applies to FTL.


Sorry, no ideas from me. V6 is super spooky voodoo magic as far as I'm concerned. Why can't things just be like they were when I was growing up? With bits of string and empty bean cans....

@DL6ER might be the person to ask on this

Getting close to the bug's source. The bug is only reproducible if [`DHCP_LEASETIME` is not set](https://github.com/pi-hole/pi-hole/blob/4736e03108763cc2d5659f48d8a1e8a64d9b2608/advanced/Scripts/webpage.sh#L382) or if [`DHCP_LEASETIME` is set to `24h`](https://github.com/pi-hole/pi-hole/blob/4736e03108763cc2d5659f48d8a1e8a64d9b2608/advanced/Scripts/webpage.sh#L385). In both cases `leasetime="24"`. But `24` is an integer and below `128` and thus [FTL/dnsmasq interprets it as IPv6 prefix length (cf. line 3139 in `src/dnsmasq/option.c`](https://github.com/pi-hole/FTL/blob/b90ab8b1e78d7aece11c8fee1c3c00817761de52/src/dnsmasq/option.c#L3139). 

If [`DHCP_LEASETIME` is `0`](https://github.com/pi-hole/pi-hole/blob/4736e03108763cc2d5659f48d8a1e8a64d9b2608/advanced/Scripts/webpage.sh#L380), then `leasetime="infinite"` and [in all other cases](https://github.com/pi-hole/pi-hole/blob/4736e03108763cc2d5659f48d8a1e8a64d9b2608/advanced/Scripts/webpage.sh#L390) `leasetime="${DHCP_LEASETIME}h"`. Thus `${leasetime}` is a string and interpreted by FTL/dnsmasq as intended.

Maybe it is enough to change `leasetime="24"` to `leasetime="24h"` in [line 383](https://github.com/pi-hole/pi-hole/blob/4736e03108763cc2d5659f48d8a1e8a64d9b2608/advanced/Scripts/webpage.sh#L383) and [line 388](https://github.com/pi-hole/pi-hole/blob/4736e03108763cc2d5659f48d8a1e8a64d9b2608/advanced/Scripts/webpage.sh#L388) of `advanced/Scripts/webpage.sh`?

For example:

```
    if [[ "${DHCP_LEASETIME}" == "0" ]]; then
        leasetime="infinite"
    elif [[ "${DHCP_LEASETIME}" == "" ]]; then
        leasetime="24h"
        change_setting "DHCP_LEASETIME" "24"
    elif [[ "${DHCP_LEASETIME}" == "24h" ]]; then
        #Installation is affected by known bug, introduced in a previous version.
        #This will automatically clean up setupVars.conf and remove the unnecessary "h"
        leasetime="24h"
        change_setting "DHCP_LEASETIME" "24"
    else
        leasetime="${DHCP_LEASETIME}h"
    fi
```

Note that `24` (no `h`) gets passed to `change_setting`.

What do you think?

Wrote a [guide](https://gist.github.com/JM1/5d83682103d815d34d99e4aea760f34f) that shows how to reproduce my setup. To trigger this bug make sure to set `DHCP_ACTIVE: 'true'` and e.g. `DHCP_LEASETIME: '24'` in `docker-compose.yml`.

https://discourse.pi-hole.net/t/pihole-stopped-working-after-pihole-up-dns-service-not-running/4250

https://github.com/pi-hole/pi-hole/pull/1646

@PromoFaux Ball back in your court.

> Maybe it is enough to change `leasetime="24"` to `leasetime="24h"` in [line 383](https://github.com/pi-hole/pi-hole/blob/4736e03108763cc2d5659f48d8a1e8a64d9b2608/advanced/Scripts/webpage.sh#L383) and [line 388](https://github.com/pi-hole/pi-hole/blob/4736e03108763cc2d5659f48d8a1e8a64d9b2608/advanced/Scripts/webpage.sh#L388) of `advanced/Scripts/webpage.sh`?

Following the logic, this looks like the right way to fix it.  I don't even remember #1646 happening 😅 @JM1, could you please PR the change against the dev branch? thanks!

Actually.. hold off for a sec, we're just having some internal discussion about the correct action to take.

Does adding in a prefix length before the `${leasetime}`, I think it's `120` in our case, fix it? I think that may be the better approach. 

We really just use the IPv6 `dhcp-lease` as a method to introduce RAs with Pi-hole's address for DNS services. 

I guess another option is to just use:

`dhcp-range=::100,::1ff,constructor:${interface},ra-names,slaac`

`dnsmasq` will use 24h as the default lease time for IPv6. I don't see a need to adjust the lease time for this configuration since it's not leasing address space. It really is just for triggering RAs.


To not reintroduce a bug like in #1646 I would suggest to [apply a fix like suggested above](https://github.com/pi-hole/pi-hole/issues/4142#issuecomment-826084836). It ensures that `${leasetime}` is always (all if-then-else cases) a string (due to the `h`) and thus correctly interpreted by FTL/dnsmasq. Thus it is not necessary to add an ipv6 prefix to the `dhcp-range` parameter list. It also makes sure that an integer is passed to `change_setting` so that `setupVars.conf` is correct as well (i.e. no `h` in `setupVars.conf`). And it does not remove functionality, i.e. the user can still change the leasetime for IPv6, which users might rely on (although i doubt that because it did not work for a loooong time :wink: ).

Should I open a pull request for the commit above?

Yep, happy to accept a PR on that basis for now, as it fixes the bug, with view to perhaps redesigning that entire section at some point in the future.

To be honest, I think that the `elif [[ "${DHCP_LEASETIME}" == "24h" ]]; then` branch could probably even come out, as it was added in to catch something that really shouldn't be happening any more. 

> It ensures that `${leasetime}` is always (all if-then-else cases) a string (due to the `h`) and thus correctly interpreted by FTL/dnsmasq

I'm not sure that's the case. @DL6ER what happens when an integer is passed as a least time?



> Thus it is not necessary to add an ipv6 prefix to the `dhcp-range` parameter list.

I think it is. I think the existing is incorrect actually. It's a hard coded range of `::100` to `::1ff` and I really don't think I've ever seen ranges without a prefix for IPv6. Granted these addresses will never be given to clients but I think treating IPv6 the same as IPv4 is what got us in to this in the first place.



> And it does not remove functionality, i.e. the user can still change the leasetime for IPv6, which users might rely on

I don't think so, these leases aren't used as client addresses, the hardcoded range is too small and there's no router that would accept the address scheme. 

The discussion was mostly trying to recall what was done in 2016 when that all was written and we haven't heard from the person that wrote it nor the person that knows `dnsmasq` intimately and can give us the actual view of how the `c` code is handled and what we should be using for values.

Just ran a quick test and the output shows us something:

Using `dhcp-range=::100,::1ff,constructor:eth0,ra-names,slaac,120,24` results in:

```plain
[2021-04-25 17:10:38.589 18805M] FATAL ERROR in dnsmasq core: prefix length must be exactly 64 for RA subnets at line 1 of /etc/dnsmasq.d/03-test.conf
```

So it's aware that this is an RA subnet.

So trying:

`dhcp-range=::100,::1ff,constructor:eth0,ra-names,slaac,64,24`

starts up without any issues.

>For IPv6, the mode may be some combination of ra-only, slaac, ra-names, ra-stateless, ra-advrouter, off-link.
>
>**slaac** tells dnsmasq to offer Router Advertisement on this subnet and to set the A bit in the router advertisement, so that the client will use SLAAC addresses. When used with a DHCP range or static DHCP address this results in the client having both a DHCP-assigned and a SLAAC address. 
>
>**ra-names** enables a mode which gives DNS names to dual-stack hosts which do SLAAC for IPv6. Dnsmasq uses the host's IPv4 lease to derive the name, network segment and MAC address and assumes that the host will also have an IPv6 address calculated using the SLAAC algorithm, on the same network segment. The address is pinged, and if a reply is received, an AAAA record is added to the DNS for this IPv6 address. Note that this is only happens for directly-connected networks, (not one doing DHCP via a relay) and it will not work if a host is using privacy extensions. **ra-names** can be combined with **ra-stateless** and **slaac**. 

https://github.com/pi-hole/FTL/blob/5437de871d64adb104ef2b35cb77abc9d44e64cd/src/dnsmasq/option.c#L3108

If no prefix is given then the prefix is set to 64. So we were always using a prefix of 64 since we were not providing a prefix. Explicitly adding it in is not changing anything.

https://github.com/pi-hole/FTL/blob/5437de871d64adb104ef2b35cb77abc9d44e64cd/src/dnsmasq/option.c#L3110

Default lease time is DEFLEASE6 which is defined as (3600 * 24) or 24 hours.

https://github.com/pi-hole/FTL/blob/5437de871d64adb104ef2b35cb77abc9d44e64cd/src/dnsmasq/option.c#L3139

Any bare integer less than 128 is considered a prefix value if no prefix is given.

https://github.com/pi-hole/FTL/blob/5437de871d64adb104ef2b35cb77abc9d44e64cd/src/dnsmasq/option.c#L3218

This is the meat of things. I think it may be setting that bare `24` as 24 seconds, which would automatically be pushed to 120 seconds as that is the floor. `dnsmasq` actually stores everything as seconds, the `switch` strips off the last char and applies a multiplier to it to increase the seconds value. 

Interestingly there are a lot more char modifiers than are documented: `w`,`d`,`h`,`m`,`s`. 


> It's a hard coded range of `::100` to `::1ff` and I really don't think I've ever seen ranges without a prefix for IPv6. Granted these addresses will never be given to clients

Just a quick note:
I can confirm that Pi-hole will hand out IPv6 addresses from that range if a client choses to request them via stateful DHCPv6, correctly combined with a current prefix (in my case, an IPv6 ULA prefix).
I am currently using local ULA IPv6 addresses only, since my current ISP does not support plain IPv6, but I'd guess it would hand out a public IPv6 address just as well.


It does actually have a prefix of `64`, its implicit though and used byt `dnsmasq` if no prefix is provided like the current configuration is set.

Client use of that space is completely unintentional and potentially a source of conflict. DHCPv6 is a horrible mechanism and the behavior you are seeing is concerning.

It really should be changed to the format suggested in the `dnsmasq` manpage.

> If a --dhcp-range is only being used for stateless DHCP and/or SLAAC, then the address can be simply ::
>
>--dhcp-range=::,constructor:eth0 

We want `ra-names` to advertise the DNS capabilities. `ra-names` requires `slaac` to be enabled as well. I don't know why that 256 bit range was chosen or if it's even needed. I think it may be possible to use:

```plain
dhcp-range=::,constructor:eth0,ra-names,slaac
```

A quick test shows that is a valid configuration. There should be no need for a leasetime anymore since any changes to the IPv6 address of Pi-hole would trigger a new RA to be put on the wire with the updated information.



If a range is provided unintentional, then the range should probably be changed to `dhcp-range=::,constructor:eth0`.

Doing so may shut off clients that insist on stateful DHCPv6 support, though. 
That shouldn't be a problem for Android, Apple, Linux and Win8/10.
I'm not entirely sure whether Win7 would fall back to stateless DHCPv6 in absence of stateful DHCPv6.

> I'm not entirely sure whether Win7 would fall back to stateless DHCPv6 in absence of stateful DHCPv6.

Does it matter? We aren't addressing the clients, we purely want to put an RA on the wire with the DNS services being advertised.


We would be changing the existent behaviour. 
I can't guess whether people would rely on it, or how many installations that would be.
I've come across only maybe two or three cases where users were intent on using Stateful DHCPv6 in their network.


This is where we need Dom to clear what the intent was for all of this. I don't know why we are using `ra-names` actually, it appears that it's purely for getting the names of clients to be displayed instead of their IPv6 addresses.



> I've come across only maybe two or three cases where users were intent on using Stateful DHCPv6 in their network.

That's fine and they are probably using something else for DHCPv6 and not Pi-hole. That `dhcp-range` is really just hardcoded to 256 possible clients. The entirety of the IPv6 configuration possible with Pi-hole is:

![Screenshot 2021-04-25 133911](https://user-images.githubusercontent.com/2782850/116008954-b6dfda80-a5cb-11eb-99f9-e5917fe089ed.png)

There's nothing stateful there.

For completion:

>  For IPv6, the mode may be some combination of ra-only, slaac, ra-names, ra-stateless, ra-advrouter, off-link.
> 
> ra-only tells dnsmasq to offer Router Advertisement only on this subnet, and not DHCP.
> 
> slaac tells dnsmasq to offer Router Advertisement on this subnet and to set the A bit in the router advertisement, so that the client will use SLAAC addresses. When used with a DHCP range or static DHCP address this results in the client having both a DHCP-assigned and a SLAAC address.
> 
> ra-stateless sends router advertisements with the O and A bits set, and provides a stateless DHCP service. The client will use a SLAAC address, and use DHCP for other configuration information.
> 
> ra-names enables a mode which gives DNS names to dual-stack hosts which do SLAAC for IPv6. Dnsmasq uses the host's IPv4 lease to derive the name, network segment and MAC address and assumes that the host will also have an IPv6 address calculated using the SLAAC algorithm, on the same network segment. The address is pinged, and if a reply is received, an AAAA record is added to the DNS for this IPv6 address. Note that this is only happens for directly-connected networks, (not one doing DHCP via a relay) and it will not work if a host is using privacy extensions. ra-names can be combined with ra-stateless and slaac.
> 
> ra-advrouter enables a mode where router address(es) rather than prefix(es) are included in the advertisements. This is described in RFC-3775 section 7.2 and is used in mobile IPv6. In this mode the interval option is also included, as described in RFC-3775 section 7.3.
> 
> off-link tells dnsmasq to advertise the prefix without the on-link (aka L) bit set. 

It may have been necessary for Windows OSs. MS was all DHCPv6 for a long time. Full SLAAC support started only with Win10.

> It may have been necessary for Windows OSs. MS was all DHCPv6 for a long time. Full SLAAC support started only with Win10.

Maybe but we've never been a DHCPv6 server. There was never the intent for clients to receive IPv6 addresses from Pi-hole.

> what the intent was for all of this

At the time of writing this code, it was necessary to do something about IPv6 to get Android devices to comply with PI-hole. Without this, they'd all just happily use the ISP DNS servers. This still seems to happen for some, hence, the often seen recommendation to just disable IPv6.

I experimented with a few combinations and this seemed to be one configuration that worked. It has, by no means, be the optimal choice. It was one of my first experiments with IPv6 and I vaguely recall that I haven't even had native dual-stack at home and was doing the tests remotely with other users. So the possible combination of options was quite limited.

Result back then was that it was necessary to do also SLAAC and not only RA to get what we want. IPv6 autoconfiguration may otherwise be puttin a spoke in the wheel because the ISP DNS servers may happily coexist with the Pi-hole and blocking may, accordingly, work at best unreliably.

I'm happy to think through and alternatives with you. You are right, it was never our intention to do any DHCPv6 - also because I wholehearted believe that DHCPv6 is a misconception in itself. It should never have been standardized in any way because that's not how IPv6 was planned to work and caused even more problems with clients that only implement parts of the possibilities. To the best of my knowledge no other system than (GNU ?) Linux includes support for all the things that are around. Neither Windows nor Mac (BSD-like) and [not even Android](https://issuetracker.google.com/issues/36949085) (last updated March this year) support all options out there just highlighting how many competeing alternatives there are and that vendors don't seem them being necessary.

> It does actually have a prefix of `64`, its implicit though and used by `dnsmasq` if no prefix is provided like the current configuration is set.

@dschaper: `advanced/Scripts/webpage.sh` does provide a prefix to dnsmasq if `DHCP_LEASETIME` is not set (`== ""`) or if `DHCP_LEASETIME` is set to `24h`. The intention was to pass leasetime to dnsmasq but it ends up being interpreted by dnsmasq as a prefix: `24` is an integer and it is below `128` hence it must be an prefix. That is the bug I tried to fix [in the commit shown above](https://github.com/JM1/pi-hole/commit/98b94373a628efefa6d056e7d0c4d1081791cee3). I tried to rephrase the problem in the commit message, but obviously i wasn't clear enough, sorry :see_no_evil:

Hmm, I cannot confirm this for a bare-metal installation:
If I set a leasetime via Pi-hole's UI, the UI value is always written to `02-pihole-dhcp.conf` correctly suffixed by an 'h', e.g.
`dhcp-range=::100,::1ff,constructor:eth0,ra-names,slaac,168h`

This is true for me for 
`  Pi-hole version is v5.3.1 (Latest: v5.3.1)
  AdminLTE version is v5.5 (Latest: v5.5)
  FTL version is v5.8.1 (Latest: v5.8.1)`
as well as an older
`  Current Pi-hole version is v5.1.1.
  Current AdminLTE version is v5.1.
  Current FTL version is v5.1.`

Maybe your issue is only related to handling Docker's environment variable `DHCP_LEASETIME`?

> `advanced/Scripts/webpage.sh` does provide a prefix to dnsmasq

Are you setting values via ENVVARs or via the web interface?

Are you setting an ENVVAR for `DHCP_LEASETIME`? What is the value you are setting? What is the expected result of the value you are setting. 

> `advanced/Scripts/webpage.sh` does provide a prefix to dnsmasq if `DHCP_LEASETIME` is not set (`== ""`) or if `DHCP_LEASETIME` is set to `24h`

I don't see any CIDR prefixes being set anywhere actually. Can you point out where you are seeing this? I'm looking at https://github.com/pi-hole/pi-hole/blob/master/advanced/Scripts/webpage.sh#L364

-----

Really there is a fundamental problem with how we handle the lease time. It's stored in `setupVars.conf` as an integer with the intent that the integer represents an hour. That severely limits the usefulness of the DHCPv4 services. See the `c` code below to see what can be used as time indicators.

Setting` leasetime="24"` is going to put a line with `dhcp-range` and a lease time of 24. `dhcp-range=${DHCP_START},${DHCP_END},${leasetime}` 

```bash
    elif [[ "${DHCP_LEASETIME}" == "" ]]; then
        leasetime="24"
        change_setting "DHCP_LEASETIME" "${leasetime}"
    elif [[ "${DHCP_LEASETIME}" == "24h" ]]; then
        #Installation is affected by known bug, introduced in a previous version.
        #This will automatically clean up setupVars.conf and remove the unnecessary "h"
        leasetime="24"
        change_setting "DHCP_LEASETIME" "${leasetime}"
```

That's below the 120 second threshold so the leases are actually pushed to 120 seconds. 
```c
		    /* Leases of a minute or less confuse
		       some clients, notably Apple's */
		    if (new->lease_time < 120)
		      new->lease_time = 120;
		  }
```

 Below is the `dnsmasq` code that handles that. I've linked it prior but I don't know if it's being read:

```c
		int fac = 1;
		if (strlen(a[leasepos]) > 0)
		  {
		    switch (a[leasepos][strlen(a[leasepos]) - 1])
		      {
		      case 'w':
		      case 'W':
			fac *= 7;
			/* fall through */
		      case 'd':
		      case 'D':
			fac *= 24;
			/* fall through */
		      case 'h':
		      case 'H':
			fac *= 60;
			/* fall through */
		      case 'm':
		      case 'M':
			fac *= 60;
			/* fall through */
		      case 's':
		      case 'S':
			a[leasepos][strlen(a[leasepos]) - 1] = 0;
		      }
		    
		    for (cp = a[leasepos]; *cp; cp++)
		      if (!(*cp >= '0' && *cp <= '9'))
			break;

		    if (*cp || (leasepos+1 < k))
		      ret_err_free(_("bad dhcp-range"), new);
		    
		    new->lease_time = atoi(a[leasepos]) * fac;
		    new->flags |= CONTEXT_SETLEASE;
		    /* Leases of a minute or less confuse
		       some clients, notably Apple's */
		    if (new->lease_time < 120)
		      new->lease_time = 120;
		  }
```

So we need to decide if we want to limit `DHCP_LEASETIME` to be ONLY an integer and ALWAYS append an `h` to the value, or if we allow `DHCP_LEASETIME` to be set to any value that is valid for `dnsmasq` and only apply an `h` when there is no time indicator.


Proposal:

This is applicable to DHCPv4 only. The `dhcp-range` for IPv6 is wrong and should not be used. It should be set specifically to:

```
dhcp-range=::100,::1ff,constructor:${interface},ra-names,slaac,64,3600
```
And should be further reviewed to find a method that does not accidentally set a DHCPv6 stateful deployment.

```bash
    if [[ "${DHCP_LEASETIME}" == "0" ]]; then
        leasetime="infinite"
    elif [[ "${DHCP_LEASETIME}" == "" ]]; then
        leasetime="24h"
        change_setting "DHCP_LEASETIME" "24"
#    elif [[ "${DHCP_LEASETIME}" == "24h" ]]; then
#       #Installation is affected by known bug, introduced in a previous version.
#       #This will automatically clean up setupVars.conf and remove the unnecessary "h"
#        leasetime="24h"
#        change_setting "DHCP_LEASETIME" "24"
    else
        leasetime="${DHCP_LEASETIME}h"
    fi
```
And document that `DHCP_LEASETIME` MUST be an integer value that is counted in hours. I'd prefer not limiting to hours only but `bash` is a horry netherworld of a language and parsing strings would be 'unpleasant' to do. Maybe it's something we can address in the in-progress API or something we can do with a more robust scripting language to replace the `/Scripts/*`. 

> Hmm, I cannot confirm this for a bare-metal installation:
> If I set a leasetime via Pi-hole's UI, the UI value is always written to `02-pihole-dhcp.conf` correctly suffixed by an 'h', e.g.
> `dhcp-range=::100,::1ff,constructor:eth0,ra-names,slaac,168h`

@Bucking-Horn: The snippet shows a leasetime of `168h`. Try a fresh setup and either do not set `DHCP_LEASETIME` or do set `DHCP_LEASETIME` to `24h`. Only in these two cases you will trigger the bug.

>  do not set `DHCP_LEASETIME`

Do you mean setting an envvar of `DHCP_LEASETIME=` or just not setting the envvar at all?

Gimme a minute, i will add a `set -x` to the relevant part and try to create a demo..

> @Bucking-Horn: The snippet shows a leasetime of `168h`. Try a fresh setup and either do not set `DHCP_LEASETIME` or do set `DHCP_LEASETIME` to `24h`. Only in these two cases you will trigger the bug.

I tried by deleting all DHCP entries from `setupVars.conf` with a DNS-only Pi-hole , then  ran `pihole restartdns` and 
simply enabled DHCP support with IPv6 support enabled via Pi-hole's UI:
`dhcp-range=::100,::1ff,constructor:wlan0,ra-names,slaac,24h`

I still cannot reproduce this with a **bare-metal** installation.

Here is a Docker Pi-hole based demo.

My `docker-compose.yml`:
```yml
version: "3"
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    network_mode: "host"
    environment:
      ServerIP: '10.10.0.2'
      ServerIPv6: 'fd00::3141:5926:5358:9793'
      DHCP_ACTIVE: 'true'
      DHCP_START: '10.10.10.1'
      DHCP_END: '10.10.10.254'
      DHCP_ROUTER: '10.10.0.1' # mandatory if DHCP server is enabled
      DHCP_IPv6: 'true'
      #DHCP_LEASETIME: '24h' # uncommenting this line will reproduce this bug as well
    volumes:
      - './test-etc-pihole/:/etc/pihole/'
      - './test-etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN

```

Running `docker-compose up` in the same dir results in this output:

```
Recreating pihole ... done
Attaching to pihole
pihole    | [s6-init] making user provided files available at /var/run/s6/etc...exited 0.
pihole    | [s6-init] ensuring user provided files have correct perms...exited 0.
pihole    | [fix-attrs.d] applying ownership & permissions fixes...
pihole    | [fix-attrs.d] 01-resolver-resolv: applying...
pihole    | [fix-attrs.d] 01-resolver-resolv: exited 0.
pihole    | [fix-attrs.d] done.
pihole    | [cont-init.d] executing container initialization scripts...
pihole    | [cont-init.d] 20-start.sh: executing...
pihole    |  ::: Starting docker specific checks & setup for docker pihole/pihole
pihole    | Assigning random password: 6FHMzLAU
pihole    |
pihole    |   [i] Installing configs from /etc/.pihole...
pihole    |   [i] Existing dnsmasq.conf found... it is not a Pi-hole file, leaving alone!
  [✓] Copying 01-pihole.conf to /etc/dnsmasq.d/01-pihole.conf
pihole    | Configuring default DNS servers: 8.8.8.8, 8.8.4.4
pihole    | Setting DHCP server
pihole    |   [✓] New password set
pihole    | DNSMasq binding to default interface: eth0
pihole    | Added ENV to php:
pihole    |                     "PHP_ERROR_LOG" => "/var/log/lighttpd/error.log",
pihole    |                     "ServerIP" => "10.10.0.2",
pihole    |                     "VIRTUAL_HOST" => "10.10.0.2",
pihole    | Using IPv4 and IPv6
pihole    | ::: setup_blocklists now setting default blocklists up:
pihole    | ::: TIP: Use a docker volume for /etc/pihole/adlists.list if you want to customize for first boot
pihole    | ::: Blocklists (/etc/pihole/adlists.list) now set to:
pihole    | https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
pihole    | ::: Testing pihole-FTL DNS: 
pihole    | dnsmasq: prefix length must be at least 64 at line 15 of /etc/dnsmasq.d/02-pihole-dhcp.conf
pihole    | [cont-init.d] 20-start.sh: exited 1.
pihole    | [cont-finish.d] executing container finish scripts...
pihole    | [cont-finish.d] done.
pihole    | [s6-finish] waiting for services.
pihole    | [s6-finish] sending all processes the TERM signal.
pihole    | [s6-finish] sending all processes the KILL signal and exiting.
pihole exited with code 1
```

Content of `test-etc-dnsmasq.d/02-pihole-dhcp.conf`:

```
###############################################################################
#  DHCP SERVER CONFIG FILE AUTOMATICALLY POPULATED BY PI-HOLE WEB INTERFACE.  #
#            ANY CHANGES MADE TO THIS FILE WILL BE LOST ON CHANGE             #
###############################################################################
dhcp-authoritative
dhcp-range=10.10.10.1,10.10.10.254,24
dhcp-option=option:router,10.10.0.1
dhcp-leasefile=/etc/pihole/dhcp.leases
#quiet-dhcp

domain=lan
#quiet-dhcp6
#enable-ra
dhcp-option=option6:dns-server,[::]
dhcp-range=::100,::1ff,constructor:eth0,ra-names,slaac,24
ra-param=*,0,0
```

Line 15 (`dhcp-range=::100,::1ff,constructor:eth0,ra-names,slaac,24`) in file `02-pihole-dhcp.conf` above shows a `24`, not a `24h`.

Now i am doing a dirty hack and add `set -x` to `webpage.sh` (from extracted docker image) and run `docker start -a pihole`:
```
Existing DNS servers detected in setupVars.conf. Leaving them alone
Setting DHCP server
::: Pre existing WEBPASSWORD found
DNSMasq binding to default interface: eth0
+ source /etc/pihole/setupVars.conf
++ PIHOLE_DNS_1=8.8.8.8
++ PIHOLE_DNS_2=8.8.4.4
++ WEBPASSWORD=5fb4a0d2f6c1f409c65210ac5b8f2249059105709d5882f70da11d0d3febe8bd
++ INSTALL_WEB_SERVER=true
++ INSTALL_WEB_INTERFACE=true
++ IPV4_ADDRESS=10.10.0.2
++ IPV6_ADDRESS=fd00::3141:5926:5358:9793
++ DHCP_ACTIVE=true
++ DHCP_START=10.10.10.1
++ DHCP_END=10.10.10.254
++ DHCP_ROUTER=10.10.0.1
++ DHCP_LEASETIME=
++ PIHOLE_DOMAIN=
++ DHCP_IPv6=true
++ DHCP_rapid_commit=
++ PIHOLE_INTERFACE=eth0
+ [[ true == \t\r\u\e ]]
+ interface=eth0
+ '[' -z eth0 ']'
+ [[ '' == '' ]]
+ PIHOLE_DOMAIN=lan
+ change_setting PIHOLE_DOMAIN lan
+ delete_setting PIHOLE_DOMAIN
+ sed -i /PIHOLE_DOMAIN/d /etc/pihole/setupVars.conf
+ add_setting PIHOLE_DOMAIN lan
+ echo PIHOLE_DOMAIN=lan
+ [[ '' == \0 ]]
+ [[ '' == '' ]]
+ leasetime=24
+ change_setting DHCP_LEASETIME 24
+ delete_setting DHCP_LEASETIME
+ sed -i /DHCP_LEASETIME/d /etc/pihole/setupVars.conf
+ add_setting DHCP_LEASETIME 24
+ echo DHCP_LEASETIME=24
+ echo '###############################################################################
#  DHCP SERVER CONFIG FILE AUTOMATICALLY POPULATED BY PI-HOLE WEB INTERFACE.  #
#            ANY CHANGES MADE TO THIS FILE WILL BE LOST ON CHANGE             #
###############################################################################
dhcp-authoritative
dhcp-range=10.10.10.1,10.10.10.254,24
dhcp-option=option:router,10.10.0.1
dhcp-leasefile=/etc/pihole/dhcp.leases
#quiet-dhcp
'
+ chmod 644 /etc/dnsmasq.d/02-pihole-dhcp.conf
+ [[ lan != \n\o\n\e ]]
+ echo domain=lan
+ [[ '' == true ]]
+ [[ '' == \t\r\u\e ]]
+ [[ true == \t\r\u\e ]]
+ echo '#quiet-dhcp6
#enable-ra
dhcp-option=option6:dns-server,[::]
dhcp-range=::100,::1ff,constructor:eth0,ra-names,slaac,24
ra-param=*,0,0
'
+ set +x
Added ENV to php:
                        "PHP_ERROR_LOG" => "/var/log/lighttpd/error.log",
                        "ServerIP" => "10.10.0.2",
                        "VIRTUAL_HOST" => "10.10.0.2",
Using IPv4 and IPv6
::: Preexisting ad list /etc/pihole/adlists.list detected ((exiting setup_blocklists early))
https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
::: Testing pihole-FTL DNS: 
dnsmasq: prefix length must be at least 64 at line 15 of /etc/dnsmasq.d/02-pihole-dhcp.conf
[cont-init.d] 20-start.sh: exited 1.
[cont-finish.d] executing container finish scripts...
[cont-finish.d] done.
[s6-finish] waiting for services.
[s6-finish] sending all processes the TERM signal.
[s6-finish] sending all processes the KILL signal and exiting.
```

Sorry for the verbose output. But now we see which code paths are taken.


> I tried by deleting all DHCP entries from `setupVars.conf` with a DNS-only Pi-hole , then ran `pihole restartdns` and
> simply enabled DHCP support with IPv6 support enabled via Pi-hole's UI:
> `dhcp-range=::100,::1ff,constructor:wlan0,ra-names,slaac,24h`
> 
> I still cannot reproduce this with a **bare-metal** installation.

Okay now i am curious which code paths your `webpage.sh` is taking. Could you please add `set -x` at beginning of `ProcessDHCPSettings` and `set +x` before its end?

> ```yaml
> DHCP_LEASETIME: '24h'
> ```

That's the wrong value for the variable. Don't use a string, use an integer. 

> > ```yaml
> > DHCP_LEASETIME: '24h'
> > ```
> 
> That's the wrong value for the variable. Don't use a string, use an integer.

Yes. But there was a bug in the past which resulted in `24h` being added to `setupVars.conf` and #1646 added the `elif [[ "${DHCP_LEASETIME}" == "24h" ]]; then` case which is one of the two code paths which is wrong.

Great, `24h` is still the wrong value for `DHCP_LEASETIME`.

Using the supplied `docker-compose.yml` does give an error if `dhcp_ipv6` is enabled and no lease time is set, that seems to be a problem with the docker container construction.

```plain
pihole    | ::: Testing pihole-FTL DNS:
pihole    | dnsmasq: prefix length must be at least 64 at line 15 of /etc/dnsmasq.d/02-pihole-dhcp.conf
```

Adding `DHCP_LEASETIME = 24` to the yaml yields a functional container with:

`dhcp-range=::100,::1ff,constructor:eth0,ra-names,slaac,24h` as the range. 

Please see https://github.com/pi-hole/pi-hole/issues/4142#issuecomment-827066762 and read in its entirety for my proposed approach.

> Okay now i am curious which code paths your `webpage.sh` is taking.

As the UI pre-populates the DHCP lease time field with a 24 (and would enforce only number representations can be entered in addition), it takes the final `else` branch. 
This seems to suggest that the current implementation works correctly for both bare-metal as well as Docker as long as  an integer is supplied. While the UI ensures that input is valid, Docker env seems to rely on the user supplying a valid value.

Okay. Pi-hole really is a great piece of software. I really like your work and my only intention was to pinpoint others to a direction in case they run into this problem as well. Perhaps I was to focussed on trying to find all possible ways of how someone could be affected by this. Never had I thought that this thread would take so much of your time, sorry!

The `24h`-case might be irrelevant today as @PromoFaux wrote previously.

Your approach in [#4142 (comment)](https://github.com/pi-hole/pi-hole/issues/4142#issuecomment-827066762) is okay for me as well. Actually i never wanted to set `DHCP_LEASETIME`, that is why i ran into this problem :see_no_evil: 


> Actually i never wanted to set `DHCP_LEASETIME`, that is why i ran into this problem 🙈

That should be a valid configuration. And I think it works if you don't set `dhcp_ipv6`. It's the combination of `dhcp_ipv6` and no `DHCP_LEASETIME` in the docker environment. 

So being fully explicit for the `dhcp-range` on IPv6 is how I think we should proceed. As DL6ER noted in response to my question, we never intended for stateful DHCPv6 to be deployed. The intent was solely to advertise an IPv6 DNS service with RAs. This was all done in 2016 and we know more now than we did then. Maybe RDNSS (https://tools.ietf.org/html/rfc6106) is something to look at as a solution going forward. 

I know this ended up very long winded but it touches on a few different sections that need to be addressed and the initial PR may have resolved the surface issue but left the underlying cause untouched. 

For now, to resolve your issue, please use an integer value for DHCP_LEASETIME, the value being the number of hours for the lease. And understand that this is only meant for the IPv4 leases.

Yes, I will do that. I have learnt a lot about IPv6 while setting up Pi-hole and digging into this issue. Thanks to all of you for your support :relaxed: 
PS: Feel free to close this issue at anytime.

Fix with current release
https://discourse.pi-hole.net/t/pi-hole-ftl-v5-9-web-v5-6-and-core-v5-4-released/49544